header, h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

.feedly-logo {
    border: 1px solid #808080;
    border-radius: 5px;
    margin: 20px;
}

.rss-header{
    float: right;
}

.main-content {
    padding: 20px;
}

.carousel-row {
    margin: 50px 0;
}

.addthis_counter {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}