html,
body {
    height: 100%;
    margin: 0;
}

body {
    color: #444444;
    background-color: #eeeeee;
    width: 800px;
    margin: 0 auto;
}

main {
    background-color: white;
    padding: 20px;
}

header {
    padding: 15px;
    background-color: #6cc655;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 20px;
    font-weight: 700;
}

section {
    margin-bottom: 10px;
}

h3 {
    margin: 0;
    padding: 0;

    font-family: "Open Sans Condensed", sans-serif;
    font-size: 18px;
    font-weight: 700;
}

label {
    font-family: sans-serif;
    font-size: 15px;
    display: block;
}

label + label {
    margin-top: 5px;
}

input, select {
    margin-left: 10px;
}

#userInfo {
    margin-top: 20px;
}

#categories {
    width: 50%;
}
