{
    "extends": ["eslint:recommended"],
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": false
        }
    },
    "env": {
        "browser": true
    },
    "globals": {
        "chrome": true
    }
}