html,
body {
    height: 100%;
    margin: 0;
}

body {
    color: #444444;
    background-color: #eeeeee;
}

#container {
    width: 800px;
    margin: 0 auto;

    background-color: white;
}

#header {
    padding: 15px;

    background-color: #6cc655;

    font-family: "Open Sans Condensed", serif;
    font-size: 20px;
}

h3 {
    margin: 0;
    padding: 0;

    font-family: "Open Sans Condensed", serif;
    font-size: 18px;
}

.label {
    font-family: sans-serif;
    font-size: 15px;
}

.options-section {
    margin-bottom: 10px;
}

#options,
#donate,
#userInfo {
    padding: 20px;
}

#donate {
    float: right;
}

#userInfo {
    display: none;
}

#categories {
    width: 50%;
}