@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(opensanscondensed.woff) format('woff');
}

.button{
    background-color: #6cc655;
    border: 1px solid rgba( 0, 0, 0, 0.2 );
    color: #E8E8E8;
    font-size: 14px;
    line-height: 17px;
    padding: 5px 15px;
    font-weight: bold;
    color: #FFF;
    margin: 0px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), inset 0px 0px 1px rgba(255, 255, 255, 1);
    text-decoration: none;
    border-radius: 3px;
    -webkit-appearance: none;
    cursor: pointer;
}

.mark-read,
.show-content,
.save-feed,
[class^="icon-"],
[class*=" icon-"]{
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("glyphicons-halflings.png");
    background-position: -120px -120px;
    background-repeat: no-repeat;
}

.icon-ok{
    background-position: -288px 0;
    margin-right: 5px;
}

.icon-refresh{
    background-position: -240px -24px;
}

.mark-read:hover{
    background-position: -96px -120px;
}

.show-content{
    background-position: -313px -119px;
}

.save-feed{
    background: url(save.png) no-repeat 0 0;
}

.saved{
    background-position: -14px 0px
}

#login, #popup-content, #all-read-section {
    display: none;
}

.item{
    width: 350px;
    padding: 2px 0 2px 0;
}

.item:hover{
    background-color: #F5F5F4;
}

.item .content{
    background-color: white;
}

#feed .item:not(:last-child),
#feed-saved .item:not(:last-child)
{
    border-bottom: solid #d2d2d2 1px;
}

.tabs .item{
    width: 380px;
}

.item .content{
    display: none;
    border: 1px solid #6cc655;
    padding: 5px;
    margin-top: 2px;
    border-radius: 3px;
}

.content a:link{
    color: #6cc655;
    text-decoration:none;
}

.content a:hover{
    text-decoration:underline;
}

.content img, .content iframe{
    max-width: 100%!important;
	height: auto!important;
}

.rtl{
    direction: rtl;
    text-align: right;
}

.article-menu,
.article-title{
    display: inline-block;
}

.article-title{
    width: 310px;
}

.tabs .article-title{
    width: 325px;
}

.article-menu{
    vertical-align: top;
}

#feed-empty,
.title{
    font-family: "Open Sans Condensed";
    color: #444;
}

#feed-empty{
    text-align: center;
}

#popup-content{
    min-width: 140px;
}

#feedly{
    margin: 0;
    position: fixed;
    background-color: white;
    width: 350px;
    padding: 10px 0 0 0;
    top: 0;
}

.tabs #feedly{
    border-bottom: 1px solid #6cc655;
    width: 380px;
}

#feedly>button{
    display: none;
}


.tabs #feedly>button{
    display: inline;
}

#feedly img{
    margin-right: 5px;
    vertical-align: bottom;
}

#feed,
#feed-saved,
#feed-empty{
    margin-top: 40px;
}

.tabs #feed,
.tabs #feed-saved,
.tabs #feed-empty{
    margin-top: 80px;
}

#website,
#mark-all-read{
    font-family: sans-serif;
    font-size: 11px;
    text-decoration: none;
    color: black;
}

#mark-all-read{
    cursor: pointer;
}

#feedly-section{
    float:left;
}

#all-read-section{
    float:right;
}

.title{
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
}

.blog-title{
    display: table-cell;
    color: gray;
}

.blog-title > * {
    vertical-align: middle;
}

.blog-title a, .blog-title span{
    color: gray;
    font-family: sans-serif;
    font-size: 11px;
}

.blog-title span{
    font-family: "Open Sans Condensed";
}

.blog-title a{
    cursor: pointer;
    text-decoration: none;
}

.clear{
    clear: both;
}

.tab{
    border: 1px solid rgba( 0, 0, 0, 0.2 );
    background-color: #eaeaea;
    padding: 5px 10px;
    border-bottom: none;
    border-radius: 4px 4px 0px 0px;
    margin: 10px 0 0 0;
    font-size: 14px;
    line-height: 17px;
    color: black;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2), inset 0px 0px 1px rgba(255, 255, 255, 1);
    text-decoration: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.save-feed{
    display: none;
}

.tabs .save-feed{
    display: inline-block;
}

.active-tab{
    background-color: #6cc655;
    color: white;
}

.blog-icon{
    width: 16px;
    height: 16px;
}