@font-face {
    font-family: 'Open Sans Condensed';
    src: url(opensanscondensed.woff) format('woff');
}

.button {
    background-color: #6cc655;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 14px;
    line-height: 17px;
    padding: 5px 15px;
    font-weight: bold;
    color: #FFF;
    margin: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0 1px rgba(255, 255, 255, 1);
    text-decoration: none;
    border-radius: 3px;
    -webkit-appearance: none;
    cursor: pointer;
}

.mark-read,
.show-content,
.save-feed,
[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    line-height: 14px;
    vertical-align: text-top;
    background: url("glyphicons-halflings.png") no-repeat -120px -120px;
}

.icon-ok {
    background-position: -285px 2px;
    margin-right: 5px;
}

.icon-share {
    background-position: -117px -69px;
    margin-right: 5px;
}

.icon-refresh {
    background-position: -237px -21px;
    margin-right: 5px;
}

.mark-read:hover {
    background-position: -96px -120px;
}

.show-content {
    background-position: -313px -119px;
}

.save-feed {
    background: url(save.png) no-repeat 0 0;
}

.saved {
    background-position: -14px 0;
}

#login, #popup-content, #popup-actions {
    display: none;
}

.item {
    width: 350px;
    padding: 2px 0 2px 0;
}

.item:hover {
    background-color: #F5F5F4;
}

#feed .item:not(:last-child),
#feed-saved .item:not(:last-child) {
    border-bottom: solid #d2d2d2 1px;
}

.tabs .item {
    width: 380px;
}

.item .content {
    font-size: 1em;
    display: none;
    border: 1px solid #6cc655;
    padding: 5px;
    margin-top: 2px;
    border-radius: 3px;
    background-color: white;
}

.content a:link {
    color: #6cc655;
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

.content img, .content iframe {
    max-width: 100% !important;
    height: auto !important;
}

.rtl {
    direction: rtl;
    text-align: right;
}

.article-menu,
.article-title {
    display: inline-block;
}

.article-title,
.blog-title {
    width: 310px;
}

.tabs .article-title,
.tabs .blog-title {
    width: 325px;
}

.article-menu {
    vertical-align: top;
    font-size: 12px;
}

#feed-empty,
.title {
    font-family: "Open Sans Condensed", serif;
    color: #444;
}

#feed-empty {
    text-align: center;
}

#popup-content {
    min-width: 230px;
}

#feedly {
    padding: 10px 0 0 0;
    margin: 0 8px;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
}

.tabs #feedly {
    border-bottom: 1px solid #6cc655;
}

#tabs-container {
    display: none;
}

.tabs #tabs-container {
    display: inline;
}

#feedly img {
    margin-right: 5px;
    vertical-align: bottom;
}

#feed{
    margin-top: 65px;
}

#feed-empty{
    margin-top: 40px;
}

.tabs #feed,
.tabs #feed-saved,
.tabs #feed-empty
{
    margin-top: 90px;
}

.arrow-up {
    display: none;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #6cc655;
    position: absolute;
    top: 36px;
    right: 1px
}

#website,
#popup-actions {
    font-family: sans-serif;
    font-size: 11px;
    text-decoration: none;
    color: black;
}

#popup-actions > i > span {
    display: none;
}

#popup-actions > i {
    cursor: pointer;
    border: 1px solid #6cc655;
    border-radius: 3px;
    padding: 3px;
}

#popup-actions > i:hover{
    background-color: #eaeaea;
}

#popup-actions > i:hover > span {
    display: inline-block;
    position: absolute;
    top: 40px;
    right: 0;
    border-top: 1px solid #6cc655;
    min-width: 100px;
    text-align: right;
}

#popup-actions > i:hover > div {
    display: inline-block;
}

#website:hover {
    color: #6cc655;
}

#feedly-section {
    float: left;
}

#popup-actions {
    float: right;
    height: 37px;
    padding-right: 5px;
}

#popup-actions > div {
    margin-bottom: 5px;
}

#popup-actions span {
    cursor: pointer;
}

#popup-actions span:hover {
    color: #6cc655;
}

.title {
    font-size: 0.9em;
    cursor: pointer;
    display: inline-block;
}

.blog-title {
    display: table-cell;
    color: gray;
}

.blog-title > * {
    vertical-align: middle;
}

.blog-title a, .blog-title span {
    color: gray;
    font-family: sans-serif;
    font-size: 0.7em;
}

.blog-title span {
    font-family: "Open Sans Condensed", serif;
}

.blog-title a {
    cursor: pointer;
    text-decoration: none;
}

.clear {
    clear: both;
}

.tab {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #eaeaea;
    padding: 5px 10px;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    margin: 10px 0 0 0;
    font-size: 14px;
    line-height: 17px;
    color: black;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0 1px rgba(255, 255, 255, 1);
    text-decoration: none;
    -webkit-appearance: none;
    cursor: pointer;
}

.save-feed {
    display: none;
}

.tabs .save-feed {
    display: inline-block;
}

.active-tab {
    background-color: #6cc655;
    color: white;
}

.blog-icon {
    width: 16px;
    height: 16px;
}

.categories {
    padding-bottom: 5px;
}

.categories > span {
    display: inline-block;
    color: black;
    cursor: pointer;
    font-size: 1em;
    padding: 4px 8px;
    font-family: sans-serif;
}

.categories > span.active {
    background-color: #6ABA45;
    border-radius: 4px;
    color: #FFFFFF;
}