<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Feedly Notifier. Browser extension for reading news from rss aggregator Feedly">

    <meta property="og:url" content="{{site.url}}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Feedly Notifier" />
    <meta property="og:description" content="Browser extension for reading news from rss aggregator Feedly" />
    <meta property="og:image" content="{{site.url}}/images/feedlylogo.png" />

    <title>Feedly Notifier - {{page.title}}</title>

    <link rel="icon" href="{{site.baseurl}}/images/favicon.png" type="image/png" />
    <link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{site.baseurl}}/css/bootstrap-theme.min.css"/>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{site.baseurl}}/css/site.css"/>

    <link rel="canonical" href="{{ site.url }}{{site.baseurl}}{{ page.url }}" />

    {% feed_meta %}
</head>
<body>
<script type="text/javascript">
    var addthis_share = {
        url: location.href.replace(location.search, '')
    };
</script>
<header class="container">
    <div class="row">
        <div class="col-md-4">
            <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/images/feedly-notifier-logo-small.png" class="feedly-logo"></a>
        </div>
        <div class="col-md-8">
            <h2>Feedly Notifier</h2>

            <h3>Browser extension for reading news from rss aggregator Feedly</h3>
            <a class="rss-header" href="{{site.baseurl}}/feed.xml"><img src="{{site.baseurl}}/images/rss.png" alt="RSS"/></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{{site.baseurl}}/">Main</a></li>
                        <li><a href="{{site.baseurl}}/features/">Features</a></li>
                        <li class="dropdown">
                            <a href="/changelog/" class="dropdown-toggle" data-toggle="dropdown">Changelog <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{site.baseurl}}/changelog/chrome/">Chrome</a></li>
                                <li><a href="{{site.baseurl}}/changelog/firefox/">Firefox</a></li>
                                <li><a href="{{site.baseurl}}/changelog/opera/">Opera</a></li>
                                <li><a href="{{site.baseurl}}/changelog/safari/">Safari</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="/source/" class="dropdown-toggle" data-toggle="dropdown">Source code <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a target="_blank" href="https://github.com/olsh/Feedly-Notifier">Chrome</a></li>
                                <li><a target="_blank" href="https://github.com/olsh/Feedly-Notifier-Firefox">Firefox</a></li>
                                <li><a target="_blank" href="https://github.com/olsh/Feedly-Notifier-Opera">Opera</a></li>
                                <li><a target="_blank" href="https://github.com/olsh/Feedly-Notifier-Safari">Safari</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

</header>

<section class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="main-content">
                {{content}}
            </div>
        </div>
        <div class="col-md-2">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="VL3DUZMEEWCZ6">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0"
                       name="submit" alt="PayPal - The safer, easier way to pay online!">
            </form>
        </div>
    </div>
</section>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42295934-3', 'auto');
    ga('send', 'pageview');

</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5639cbf03810f26a" async="async"></script>
</body>
</html>