html,
body{
    height: 100%;
    margin: 0;
}

body{
    background-color: #eee;
    color: #444;
}

#container{
    background-color: white;
    width: 800px;
    height: 100%;
    margin: 0 auto;
}

#header{
    font-family: "Open Sans Condensed";
    background-color: #6cc655;
    padding: 15px;
    font-size: 20px;
}

.label{
    font-family: sans-serif;
    font-size: 15px;
}

.options-section{
    margin-bottom: 10px;
}

#options,
#userInfo,
#donate{
    margin:20px;
}

#userInfo{
    display: none;
}