@font-face {
    font-family: "Open Sans Condensed";
    src: url(../fonts/opensanscondensed.woff) format("woff");
}

@font-face {
    font-family: "Noto Sans KR";
    src: url(../fonts/NotoSansKR-Bold.woff) format("woff");
}

body {
    font-size: 100%;
    overflow-x: hidden;
}

#feedly-logo {
  width: 19px;
  height: 19px;
}

.button {
    margin: 0;
    padding: 5px 15px;

    cursor: pointer;
    text-decoration: none;

    color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    background-color: #6cc655;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0 1px rgba(255, 255, 255, 1);

    font-size: 14px;
    font-weight: bold;
    line-height: 17px;

    white-space: nowrap;
    -webkit-appearance: none;
}

.glyphicon-eye-open:hover:before {
  content: "\e106";
}

.glyphicon:before {
    font-size: 13px;
}

.saved {
    color: rgb(108, 198, 85);
}

#login,
#popup-content,
#popup-actions {
    display: none;
}

.item {
    width: 100%;
    padding: 2px 0 2px 0;

    /* Workaround for https://github.com/olsh/Feedly-Notifier/issues/73#issuecomment-292728526 */
    background-color: #fff;
}

.item:hover {
    background-color: #f5f5f4;
}

#feed .item:not(:last-child),
#feed-saved .item:not(:last-child) {
    border-bottom: solid #d2d2d2 1px;
}

.item .content {
    display: none;

    margin-top: 2px;
    padding: 5px;

    border: 1px solid #6cc655;
    border-radius: 3px;
    background-color: white;

    font-size: 1em;
}

.content a:link {
    text-decoration: none;

    color: #6cc655;
}

.content a:hover {
    text-decoration: underline;
}

.content img,
.content iframe {
    max-width: 100% !important;
    height: auto !important;
}

.content .author {
    display: block;

    margin-bottom: 3px;
}

.content:after {
    display: table;
    clear: both;

    content: "";
}

.rtl {
    text-align: right;

    direction: rtl;
}

.article-menu > * {
    height: 14px;
    margin-top: 1px;
    vertical-align: text-top;
    line-height: 14px;
    width: 14px;
 }

.article-menu,
.article-title {
    display: inline-block;
}

.article-title,
.blog-title {
    width: calc(100% - 45px);
}

.tabs .article-title,
.tabs .blog-title {
    width: calc(100% - 55px);
}

.article-menu {
    vertical-align: top;

    font-size: 12px;
}

#feed-empty,
.title {
    color: #444444;

    font-family: "Open Sans Condensed", "Noto Sans KR", serif;
}

#feed-empty {
    text-align: center;
}

#popup-content {
    min-width: 230px;
}

#feedly {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;

    padding: 10px 8px 0 8px;

    background-color: white;
}

.tabs #feedly {
    border-bottom: 1px solid #6cc655;
}

#tabs-container {
    display: none;
}

.tabs #tabs-container {
    display: inline;
}

#feedly img {
    margin-right: 5px;

    vertical-align: bottom;
}

#feed {
    margin-top: 65px;
}

#feed-empty {
    margin-top: 40px;
}

.tabs #feed,
.tabs #feed-saved,
.tabs #feed-empty {
    margin-top: 90px;
}

.arrow-up {
    position: absolute;
    top: 24px;
    right: 4px;

    display: none;

    width: 0;
    height: 0;

    border-right: 4px solid transparent;
    border-bottom: 4px solid #6cc655;
    border-left: 4px solid transparent;
}

#website,
#popup-actions {
    text-decoration: none;

    color: black;

    font-family: sans-serif;
    font-size: 11px;
}

#popup-actions > em > span {
    display: none;
}

#popup-actions > em {
    padding: 3px;

    cursor: pointer;

    border: 1px solid #6cc655;
    border-radius: 3px;
}

#popup-actions > em > span{
  font-family: sans-serif;
  line-height: 14px;
}

#popup-actions > em:hover {
    background-color: #eaeaea;
}

#popup-actions > em:hover > .arrow-up{
    display: inline-block;
}

#popup-actions > em:hover > span {
  position: fixed;
  top: 40px;
  right: 13px;

    display: inline-block;

    min-width: 100px;

    text-align: right;

    border-top: 1px solid #6cc655;

}

#popup-actions > i:hover > div {
    display: inline-block;
}

#website:hover {
    color: #6cc655;
}

#feedly-section {
    float: left;
}

#popup-actions {
    float: right;

    height: 37px;
    padding-right: 5px;
}

#popup-actions > div {
    margin-bottom: 5px;
}

#popup-actions span {
    cursor: pointer;
}

#popup-actions span:hover {
    color: #6cc655;
}

.title {
    display: inline-block;

    cursor: pointer;

    font-size: 0.9em;
}

.blog-title {
    color: gray;
}

.blog-title > * {
    vertical-align: middle;
}

.blog-title a,
.blog-title span {
    color: gray;

    font-family: "Open Sans Condensed", "Noto Sans KR", serif;
    font-size: 0.7em;
}

.blog-title a {
    cursor: pointer;
    text-decoration: none;
}

.clear {
    clear: both;
}

.tab {
    margin: 10px 0 0 0;
    padding: 5px 10px;

    cursor: pointer;
    text-decoration: none;

    color: black;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: none;
    border-radius: 4px 4px 0 0;
    background-color: #eaeaea;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0 1px rgba(255, 255, 255, 1);

    font-size: 14px;
    line-height: 17px;

    -webkit-appearance: none;
}

.save-feed {
    display: none;
}

.tabs .save-feed {
    display: inline-block;
}

.active-tab {
    color: white;
    background-color: #6cc655;
}

.blog-icon {
    width: 16px;
    height: 16px;
}

.categories {
    padding-bottom: 5px;
}

.categories > span {
    display: inline-block;

    padding: 4px 8px;

    cursor: pointer;

    color: black;

    font-family: sans-serif;
    font-size: 1em;
}

.categories > span.active {
    color: #ffffff;
    border-radius: 4px;
    background-color: #6aba45;
}

.engagement {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiICB3aWR0aD0iMjJweCIgaGVpZ2h0PSIyMnB4IiB2aWV3Qm94PSIwIDAgMjIgMjIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIyIDIyIiB4bWw6c3BhY2U9InByZXNlcnZlIj48ZyBpZD0iR3JpZCIgZGlzcGxheT0ibm9uZSI+IDxyZWN0IGRpc3BsYXk9ImlubGluZSIgd2lkdGg9IjIyIiBoZWlnaHQ9IjIyIi8+PC9nPjxnIGlkPSJJY29ucyI+IDxwYXRoIGZpbGw9IiM3NTc1NzUiIGQ9Ik0xMi40LDBjMCwwLTQuNywxLjYtNS4zLDcuMmMtMC4yLDEuNSwwLDMuNCwwLjYsNS42QzYuMywxMiw1LjMsMTAuMyw1LjIsOC42YzAtMC41LDAtMS4xLDAuMi0xLjYgIEMzLDkuNSwzLDEyLjcsMywxNC4yYzAsMy44LDIuNiw3LDYuMiw3LjhjLTEuOC00LjIsMS42LTUsMi4xLTljMCwwLDMuNiw0LDEuNCw4LjljMCwwLDAsMC4xLTAuMSwwLjFjMy43LTAuNyw2LjQtNCw2LjQtNy44ICBDMTksNS43LDEwLjIsNy40LDEyLjQsMHoiLz48L2c+PC9zdmc+") no-repeat right;
    background-size: 9px 9px;
    background-position-y: 3px;
    color: #757575;
    padding-right: 9px;
}

.engagement.hot {
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiICB3aWR0aD0iMjJweCIgaGVpZ2h0PSIyMnB4IiB2aWV3Qm94PSIwIDAgMjIgMjIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIyIDIyIiB4bWw6c3BhY2U9InByZXNlcnZlIj48ZyBpZD0iR3JpZCIgZGlzcGxheT0ibm9uZSI+IDxyZWN0IGRpc3BsYXk9ImlubGluZSIgd2lkdGg9IjIyIiBoZWlnaHQ9IjIyIi8+PC9nPjxnIGlkPSJJY29ucyI+IDxwYXRoIGZpbGw9IiNGRjk2MEIiIGQ9Ik0xMi40LDBjMCwwLTQuNywxLjYtNS4zLDcuMmMtMC4yLDEuNSwwLDMuNCwwLjYsNS42QzYuMywxMiw1LjMsMTAuMyw1LjIsOC42YzAtMC41LDAtMS4xLDAuMi0xLjYgIEMzLDkuNSwzLDEyLjcsMywxNC4yYzAsMy44LDIuNiw3LDYuMiw3LjhjLTEuOC00LjIsMS42LTUsMi4xLTljMCwwLDMuNiw0LDEuNCw4LjljMCwwLDAsMC4xLTAuMSwwLjFjMy43LTAuNyw2LjQtNCw2LjQtNy44ICBDMTksNS43LDEwLjIsNy40LDEyLjQsMHoiLz48L2c+PC9zdmc+");
    color: #ff9800;
}

.engagement.on-fire {
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiICB3aWR0aD0iMjJweCIgaGVpZ2h0PSIyMnB4IiB2aWV3Qm94PSIwIDAgMjIgMjIiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIyIDIyIiB4bWw6c3BhY2U9InByZXNlcnZlIj48ZyBpZD0iR3JpZCIgZGlzcGxheT0ibm9uZSI+IDxyZWN0IGRpc3BsYXk9ImlubGluZSIgd2lkdGg9IjIyIiBoZWlnaHQ9IjIyIi8+PC9nPjxnIGlkPSJJY29ucyI+IDxwYXRoIGZpbGw9IiNGRjAwMDAiIGQ9Ik0xMi40LDBjMCwwLTQuNywxLjYtNS4zLDcuMmMtMC4yLDEuNSwwLDMuNCwwLjYsNS42QzYuMywxMiw1LjMsMTAuMyw1LjIsOC42YzAtMC41LDAtMS4xLDAuMi0xLjYgIEMzLDkuNSwzLDEyLjcsMywxNC4yYzAsMy44LDIuNiw3LDYuMiw3LjhjLTEuOC00LjIsMS42LTUsMi4xLTljMCwwLDMuNiw0LDEuNCw4LjljMCwwLDAsMC4xLTAuMSwwLjFjMy43LTAuNyw2LjQtNCw2LjQtNy44ICBDMTksNS43LDEwLjIsNy40LDEyLjQsMHoiLz48L2c+PC9zdmc+");
    color: #ff5722;
}
